@{ ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_UserLayout.cshtml"; }


<!doctype html>
<html lang="zxx">
<body>
    <!--header-->
    <!-- //header -->
    <!-- about breadcrumb -->
    <section class="w3l-about-breadcrumb text-left">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container py-2">
                <h2 class="title">Hakkımızda</h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="/Default/Index/">Anasayfa</a></li>
                    <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Hakkımızda </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //about breadcrumb -->
    <!-- /about-6-->
    <section class="w3l-cta4 py-5">
        <div class="container py-lg-5">
            <div class="ab-section text-center">
                <h6 class="sub-title">Hakkımızda</h6>
                <h3 class="hny-title">Arel Üniversitesi aracılığıyla dünyayı gezin.</h3>
                <p class="py-3 mb-3">
                    Endişelenmeyin, Rehberlerimiz sizlere eşlik edecektir :)<br /> İşte Rehberlerimiz
                </p>
                <a href="/Guide/Index/" class="btn btn-style btn-primary">Rehberlerimiz</a>
            </div>
            <div class="row mt-5">
                <div class="col-md-9 mx-auto">
                    <img src="/userPages/assets/images/banner3.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- //about-6-->
    
    <!-- stats -->
    <section class="w3l-statshny py-5" id="stats">
        <div class="container py-lg-5 py-md-4">
            <div class="w3-stats-inner-info">
                <div class="row">
                    <div class="col-lg-4 col-6 stats_info counter_grid text-left">
                        <span class="fa fa-smile-o"></span>
                        <p class="counter">1730</p>
                        <h4>Mutlu Müşteri</h4>
                    </div>
                    <div class="col-lg-4 col-6 stats_info counter_grid1 text-left">
                        <span class="fa fa-users"></span>
                        <p class="counter">7</p>
                        <h4>Rotalar</h4>
                    </div>
                    <div class="col-lg-4 col-6 stats_info counter_grid mt-lg-0 mt-5 text-left">
                        <span class="fa fa-database"></span>
                        <p class="counter">30</p>
                        <h4>Turlarımız</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //stats -->
    <!-- team -->

</body>
</html>