
<footer>
    <!-- footer -->
    <section class="w3l-footer">
        <div class="w3l-footer-16-main py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 column">
                        <div class="row">
                            <div class="col-md-4 column">
                                <h3>Şirketimiz</h3>
                                <ul class="footer-gd-16">
                                    <li><a href="/Default/Index/">Anasayfa</a></li>
                                    <li><a href="/Default/About/">Hakkımızda</a></li>
                                    <li><a href="/Member/Reservation/NewReservation/">Rezervasyon Oluştur</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 column mt-md-0 mt-4">
                                <h3>Yararlı Linkler</h3>
                                <ul class="footer-gd-16">
                                    <li><a href="/Destination/Index/">Rotalar</a></li>
                                    <li><a href="/Guide/Index/">Rehberlerimiz</a></li>
                                    <li><a href="/Contact/Index/">İletişim</a></li>
                                </ul>
                            </div>
                            @*<div class="col-md-4 column mt-md-0 mt-4">
                                <h3>Servislerimiz</h3>
                                <ul class="footer-gd-16">
                                    <li><a href="#url">Gizlilik Sözleşmesi</a></li>
                                    <li><a href="#url">Şartlarımız</a></li>
                                    <li><a href="services.html">Servisler</a></li>
                                    <li><a href="landing-single.html">Açılış Sayfası</a></li>
                                    <li><a href="#url">Tur Rehberlerimiz</a></li>
                                </ul>
                            </div>*@
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 column pl-lg-5 column4 mt-lg-0 mt-5">
                        <h3>Mail Bülteni </h3>
                        <div class="end-column">
                            <h4>En son gelişmelerden ve fırsatlardan ilk siz haberdar olun!</h4>
                            <form action="#" class="subscribe" method="post">
                                <input type="email" name="email" placeholder="Mail Adresiniz" required="">
                                <button type="submit">Gönder</button>
                            </form>
                            <p>Son haberler ve kampanyalarımız için erkenden abone olun! Merak etmeyin, spam mail yollamayacağız ;)</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
                    <div class="columns text-lg-left text-center">
                        <p>
                            &copy; @DateTime.Now.Year Yusuf ZENGİN Salih DOGUZ | Arel Üniversitesi Proje.
                        </p>
                    </div>
                    <div class="columns-2 mt-lg-0 mt-3">
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/yusufnignez"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/salih-doguz-241017246/"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/yusufnignez/"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="https://github.com/yusufzng1n"><span class="fa fa-github" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="https://github.com/SalihDoguz"><span class="fa fa-github" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- //move top -->
        <script>
            $(function () {
                $('.navbar-toggler').click(function () {
                    $('body').toggleClass('noscroll');
                })
            });
        </script>
    </section>
    <!-- //footer -->
</footer>